.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
h2{
  color: rgb(247, 33, 115);
  font-size: 50px;
  font-style: oblique;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgba(245, 28, 100, 0.356);
  font-style: italic;
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}
